.detail {
  &__header {
    @apply flex items-center justify-between mb-6;
  }
  &__title {
    @apply text-2xl font-bold text-charcoal;
  }
  &__subTitle {
    @apply text-xl font-bold text-charcoal mt-8 mb-4;
  }
  &__grid {
    @apply grid gap-4 md:grid-cols-2;
  }
  &__card {
    @apply bg-white rounded-xl shadow-lg-primary p-5;
  }
  &__label {
    @apply font-medium mb-1 text-charcoal;
  }
  &__value {
    @apply text-sm text-light-grey;
  }
}



