@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: var(--font-roboto);
  --font-text: var(--font-noto-sans-tamil);

  /* Reset entire default color palette so only custom colors remain */
  --color-*: initial;

  /* Colors - Brand */
  --color-primary: #1AB6F9;
  --color-secondary: #1AD0A8;

  /* Colors - Neutrals  */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-charcoal: #222230;
  --color-red: #FF2D1E;
  --color-yellow: #FCC61A;
  --color-green: #1AD0A8;

  /* Actions */
  --color-warning: #FBC02D;
  --color-error: #E53835;
  --color-success: #2E7D31;

  /* Typography */

  /* Spacing */
  --spacing-24: 24px;
  --spacing-144: 144px;

  /* Reset all default breakpoints and define custom ones */
  --breakpoint-*: initial;
  --breakpoint-mobile-lg: 40rem;  /* Large mobiles / small tablets (~640px) */
  --breakpoint-tablet: 48rem;     /* Tablets (~768px) */
  --breakpoint-laptop: 64rem;     /* Laptops (~1024px) */
  --breakpoint-desktop: 80rem;    /* Desktops (~1280px) */
  --breakpoint-wide: 96rem;       /* Large / wide screens (~1536px) */
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }

  p, span, li, a, small {
    font-family: var(--font-text);
  }
}